.navbar-bottom {
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  margin: 0;

  overflow: auto;

  &__item {
    min-width: 30%;

    padding: 0 $gutter;

    border-bottom: 0.2rem solid transparent;

    color: $title-white;
    text-align: center;

    &:hover {
      border-bottom: $list-border;
      background: $placeholder-text;
    }
  }
}

.add-new-item {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 15%;

  margin: 0;

  border-bottom: 0.2rem solid transparent;
  border-radius: 2.5%;

  font-size: 1rem;

  &:hover {
    border-bottom: $list-border;
    background: $placeholder-text;
    cursor: pointer;
  }
}
