.navbar-bottom {
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  flex-direction: row;

  width: 100%;

  margin: 0;

  overflow-x: auto;

  &__item {
    flex-shrink: 0;
    width: calc(100% / 3);

    padding: 0 $gutter;

    border-bottom: 0.2rem solid transparent;
    border-radius: 1.25%;

    color: $title-white;
    text-align: center;

    &:hover {
      border-bottom: $list-border;
      background: $placeholder-text;
    }
  }
}

.add-new-item {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 20%;

  margin: 0;

  border-bottom: 0.2rem solid transparent;
  border-radius: 1.25%;

  background: darken($brand-blue, 1%);

  font-size: 1rem;

  &:hover {
    border-bottom: $list-border;
    background: $placeholder-text;
    cursor: pointer;
  }
}
