<ul class="navbar-list">
  {{#link-to 'lists'}}
    <li class="navbar-list__item">Things</li>
  {{/link-to}}
  {{#link-to 'lists'}}
    <li class="navbar-list__item">Things</li>
  {{/link-to}}
  {{#link-to 'lists'}}
    <li class="navbar-list__item">Things</li>
  {{/link-to}}
  {{#link-to 'lists'}}
    <li class="navbar-list__item">Things</li>
  {{/link-to}}
  {{#link-to 'lists'}}
    <li class="navbar-list__item">Things</li>
  {{/link-to}}
  {{#link-to 'lists'}}
    <li class="navbar-list__item">Things</li>
  {{/link-to}}
  {{#link-to 'lists'}}
    <li class="navbar-list__item">Things</li>
  {{/link-to}}
  {{#link-to 'lists'}}
    <li class="navbar-list__item">Things</li>
  {{/link-to}}
  {{#link-to 'lists'}}
    <li class="navbar-list__item">Things</li>
  {{/link-to}}

</ul>
<p class="add-new-item">Add New List</p>

{{outlet}}
