<div class="navbar-bottom">
  <ul class="navbar-list">
    {{#link-to 'http://google.com'}}
      <li class="navbar-list__item">Things to List</li>
    {{/link-to}}
    <li class="navbar-list__item">Things to List</li>
  </ul>
  <p class="add-new-item">Add New List</p>
</div>

{{outlet}}
