<div class="navbar-bottom">
  <ul class="navbar-list">
    <li class="navbar-list__item">this is a really long todo list</li>
    <li class="navbar-list__item">this is a less long list</li>
    <li class="navbar-list__item">this is a short list</li>
    <li class="navbar-list__item">this is a short list</li>
    <li class="navbar-list__item">this is a short list</li>
    <li class="navbar-list__item">this is a short list</li>
    <li class="navbar-list__item">this is a short list</li>
    <li class="navbar-list__item">this is a short list</li>
    <li class="navbar-list__item">this is a short list</li>
    <li class="navbar-list__item">this is a short list</li>
    <li class="navbar-list__item">this is a short list</li>
  </ul>
  <p class="add-new-item">Add New List</p>
</div>

{{outlet}}
