<ul class="navbar-list">
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    THINGS
  {{/link-to}}
</ul>
<p class="add-new-item">Add New List</p>

{{outlet}}
