<div class="new-outer-container">
  <div class="new-list-container">
    <h3 class="add-new-list">Add New List</h3>
    <form class="new-list-form" {{action saveList model on="submit"}}>
      {{input type="text" class="new-list-form__input" placeholder="List Name" value=model.title}}
      <button class="new-list-form__button">ACCEPT</button>
    </form>
  </div>
</div>

{{outlet}}
