<ul class="navbar-list">
  {{#link-to 'lists' class="navbar-list__item"}}
    Hiking Supplies
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Groceries
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    School Supplies
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Fishing
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
  {{#link-to 'lists' class="navbar-list__item"}}
    Another List Example
  {{/link-to}}
</ul>
{{#link-to "new" class="add-new-item"}}Add New List{{/link-to}}

<div class="new-list-container">
  <h3 class="add-new-list">Add New List</h3>
  <form class="new-list-form">
    {{input type="text" class="new-list-form__input" placeholder="List Name"}}
    <button class="new-list-form__button">Accept</button>
  </form>
</div>

{{outlet}}
