<nav class="navbar-container">
  <div class="navbar-bottom">
    <ul class="navbar-list">
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Hiking Supplies
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Groceries
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        School Supplies
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Fishing
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'dashboard.list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
    </ul>
    {{#link-to "dashboard.new" class="add-new-item"}}Add New List{{/link-to}}
  </div>
</nav>
{{outlet}}
