<nav class="navbar-container">
  <div class="navbar-top">
    <button class="navbar-top__hamburger fa fa-bars"></button>
    <h1 class="navbar-top__title">Todos</h1>
  </div>
  <div class="navbar-bottom">
    <ul class="navbar-list">
      {{#link-to 'list-view' class="navbar-list__item" }}
        Hiking Supplies
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Groceries
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        School Supplies
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Fishing
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
      {{#link-to 'list-view' class="navbar-list__item" }}
        Another List Example
      {{/link-to}}
    </ul>
    {{#link-to "new" class="add-new-item"}}Add New List{{/link-to}}
  </div>
</nav>
{{outlet}}
