<nav class="navbar-container">
  <div class="navbar-top">
    <button class="navbar-top__hamburger fa fa-bars"></button>
    <h1 class="navbar-top__title">Todos</h1>
  </div>
  <div class="navbar-bottom">
    {{outlet}}
  </div>
</nav>
